@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Montserrat:wght@100;400;700;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    outline: 0ch;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    background-color: #fbfeff;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #fbfeff;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: blue;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid orange;
    /* creates padding around scroll thumb */
}

/* -----------------------NAVBAR--------------- */

.navbar {
    padding: 1% 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}


/* NAVBER ROW-1 */

.nav-row1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

.logo {
    width: 15%;
}

.header-search {
    width: 34rem;
    border: 2px solid #003057;
    border-radius: 5px;
    padding: 10px;
}

.search-icon {
    display: inline-block;
    margin: auto;
}

.search-bar {
    border: none;
    margin-left: 20px;
    color: #fff;
    background-color: #fbfeff;
}

.search-bar::placeholder {
    color: rgba(0, 56, 101, 0.459);
}


.signup-btn {
    border: none;
    background-color: #fbfeff;
    color: #003057;
    font-weight: 700;
    padding: 7px 25px;
    border-radius: 5px;
    margin-right: 2rem;
    transition: all 300ms ease-in-out;
}

.signup-btn:hover {
    border: #003057 2px solid;
    box-shadow: 1px 2px 10px rgba(51, 51, 51, 0.49);
    cursor: pointer;
}

.signin-btn {
    background-color: #F27405;
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 7px 25px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px rgba(51, 51, 51, 0.49);
    transition: all 300ms ease-in-out;
}

.signin-btn:hover {
    color: #F27405;
    background: #fff;
    cursor: pointer;
}


/* NAVBER ROW-2 */

.nav-row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.nav-row2 a {
    text-decoration: none;
    color: #003057;
}

.nav-btn {
    color: #003057;
    border: none;
}


.hover-item {
    transition: all 200ms ease-in-out;
}

.hover-item:hover {
    background: #FED8B1;
    color: #003057;
}

.hover-btn {
    color: #003057;
    transition: all 200ms ease-in-out;
}

.hover-btn:hover {
    color: #F27405;
}

/* INTRODUCTION SECTION -1*/


.indicators {
    padding-bottom: 2%;
}

.intro {
    padding: 5%;
    margin: 2%;
    border: none;
    border-radius: 25px;
    background-color: #F27405;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.intro-content {
    color: #000;
    width: 50%;
}

.intro-content h3 {
    margin-bottom: 5%;
    font-size: 1.5rem;
}

.intro-content h3:after {
    display: block;
    content: " ";
    width: 100px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
}

.intro-content h1 {
    margin-bottom: 5%;
    font-size: 2.5rem;
    font-weight: 900;
    color: #003057;
}

.intro-content p {
    margin-bottom: 5%;
    font-size: 1.1rem;
    font-weight: 300;
}


.intro2-img {
    border-radius: 25px;
}

.intro3-img {
    border-radius: 25px;
}

/* <!-- Introduction section 2 --> */

#introduction-2 {
    margin: 6% 6% 10%;
}

.introduction-2-header {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 6%;
    color: #003057;
    padding-bottom: 10px;
    background: linear-gradient(#F27405, #F27405) bottom center no-repeat;
    background-size: 150px 3px;
    width: 100%;
}

.introduction-2-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.introduction-2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction-2-content h1 {
    margin-top: 40px;
    font-size: 2rem;
    text-align: center;
    line-height: 1.7;
}

.introduction-2-content h1 span {
    color: #003057;
    font-weight: 900;
    font-size: 2.4rem;
}

.courses {
    width: 150px;
    border-radius: 50%;
    background-color: #F27405;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.6);
}

.enrolled {
    width: 150px;
    border-radius: 50%;
    background-color: #F27405;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.6);
}

.job {
    width: 150px;
    border-radius: 50%;
    background-color: #F27405;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.6);
}

/* <!-- TEACHERS SECTION --> */

#teachers {
    background-color: #F27405;
    padding: 5%;
}

.teacher-heading {
    font-size: 3rem;
    color: #003057;
    text-align: center;
    margin-bottom: 5%;
}

.teachercard {
    padding: 0%;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.6);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.teachercard h2 {
    font-size: 1.5rem;
    color: #003057;
}

.teacher-img {
    border-radius: 50%;
    background-color: #fbfeff;
}

.visitbtn {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.visitbtn :nth-child(2) {
    color: #ef4430;
}

/* <!-- COMPANIES --> */
#companies {
    margin: 8% 0%;
}

.companies-heading {
    font-size: 3rem;
    color: #003057;
    text-align: center;
    margin-bottom: 5%;
    padding-bottom: 10px;
    background: linear-gradient(#F27405, #F27405) bottom center no-repeat;
    background-size: 150px 3px;
}

.companies-div {
    background-color: #fff;
    margin: 2%;
    padding: 3%;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.6);
    border-radius: 25px;
}

.slide-2 {
    box-sizing: border-box;
    height: 40.66px;
}

/* <!-- HALL OF FAME --> */
#achivers {
    padding: 5%;
    /* background-color: rgb(242, 116, 5); */
    background: linear-gradient(90deg, #FED54A, #FF9347);
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.6);
}

.achivers-heading {
    font-size: 3rem;
    color: #003057;
    text-align: center;
    margin-bottom: 5%;
    padding-bottom: 10px;
    background: linear-gradient(#fff, #fff) bottom center no-repeat;
    background-size: 100px 3px;
}

.achiver-story {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 2rem;
    color: #000;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.6);
    transition: all 200ms ease-in-out;
}

.achiver-story:hover {
    box-shadow: 0.1px 0.1px 0.1px rgba(51, 51, 51, 0.6), 4px 4px 7px rgba(51, 51, 51, 0.6) inset;
    cursor: pointer;
}

.achiver-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.achiver-info h2 {
    font-size: 1rem;
    color: #F27405;
}

.achiver-info h3 {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}

.achiver-info p {
    height: 4.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    text-align: center;
}

.achiver-img {
    border-radius: 50%;
    border: #F27405 2px solid;
}

.achivers-indicator {
    margin-bottom: 0%;
}

/* <!-- PROGRAMS --> */

#programs {
    padding: 5%;
}

.programs-container-1 {
    margin-bottom: 5%;
}

.programs-container-1-heading {
    text-align: center;
    color: #003057;
    margin-bottom: 5%;
    padding-bottom: 10px;
    background: linear-gradient(#F27405, #F27405) bottom center no-repeat;
    background-size: 100px 3px;
}

.programs-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.programs-list-item {
    color: #000;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.6);
    transition: all 300ms ease-in-out;
}

.programs-list-item:hover {
    box-shadow: 0.1px 0.1px 0.1px rgba(51, 51, 51, 0.6), 3px 3px 7px rgba(51, 51, 51, 0.6) inset;
    cursor: pointer;
}

.programs-active {
    background-color: #F27405;
    color: #003057;
}

.programs-container-2-row {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.program-container-2-heading h2 {
    color: #003057;
    text-align: center;
    margin-bottom: 2%;
}

.program-container-2-heading p {
    text-align: center;
    margin-bottom: 4%;
}

.programs-container-2-col {
    padding: 3%;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.6);
    background-color: #F27405;
    width: 30%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    transition: all 200ms ease-in-out;
}

.programs-container-2-col:hover {
    box-shadow: 0.1px 0.1px 0.1px rgba(51, 51, 51, 0.6), 4px 4px 7px rgba(51, 51, 51, 0.5) inset;
    cursor: pointer;
}

.program-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.program-content h2 {
    font-weight: 900;

}

.program-content h3 {
    color: #333;
    font-size: 1rem;
}

.program-price {
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.program-price p {
    font-weight: 900;
    padding: 5px 20px;
    font-size: 1.2rem;
}

.program-price a {
    text-decoration: none;
    color: #fff;
    background-color: #ef4430;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}

.program-price a:hover {
    box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.6) inset;
}

.view-more {
    text-align: center;
    margin-top: 5%;
}

.view-more a {
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    transition: all 300ms ease-in-out;
}

.view-more a:hover {
    color: #F27405;
}

.program1-img {
    width: 300px;
    border-radius: 25px;
}

.program2-img {
    width: 300px;
    border-radius: 25px;
}

.program3-img {
    width: 300px;
    border-radius: 25px;
}


/* <!-- PRODUCTS --> */
#products {
    padding: 6%;
}

.products-heading {
    font-size: 3rem;
    text-align: center;
    color: #003057;
    margin-bottom: 5%;
    padding-bottom: 10px;
    background: linear-gradient(#F27405, #F27405) bottom center no-repeat;
    background-size: 100px 3px;
}

.products-row1 {
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.products-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.6);
    border-radius: 25px;
}

.products-col h2 {
    font-size: 1.2rem;
    color: #F27405;
}

.products-col p {
    text-align: center;
    color: #333;
    font-weight: 300;
}

.products-row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

/* <!-- PARTNER-INSTITUTION --> */
#partners {
    padding: 6%;
    background-color: #F27405;
}

.partners-heading {
    text-align: center;
    font-size: 3rem;
    color: #003057;
    margin-bottom: 5%;
    padding-bottom: 10px;
    background: linear-gradient(#fff, #fff) bottom center no-repeat;
    background-size: 100px 3px;
}

.partner-institutes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.partners-img {
    width: 150px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.6);
}


/* FOOTER */
#footer {
    padding: 3% 6%;
    background-color: #333;
    color: #fff;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4%;
}

.links a {
    text-decoration: none;
    color: #fff;
}

.social-icons {
    transition: all 200ms ease-in-out;
}

.social-icons:hover {
    color: #F27405;
}

.footer-inner {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
}

.ineuron-header {
    background: linear-gradient(#F27405, #F27405)left bottom no-repeat;
    background-size: 100px 3px;
    padding-bottom: 15px;
    margin-bottom: 2rem;
}

.address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.address a {
    text-decoration: none;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.address a:hover {
    color: #F27405;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.p2-a {
    text-decoration: none;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.p2-a:hover {
    color: #F27405;
}

.p1 {
    font-weight: 800;
    margin: 0;
}

.company h2 {
    font-size: 3rem;
    background: linear-gradient(#F27405, #F27405)left bottom no-repeat;
    background-size: 100px 3px;
    padding-bottom: 15px;
    margin-bottom: 2rem;
}

.company-info-list {
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 0.6rem;
}

.company-list-item a {
    text-decoration: none;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.company-list-item a:hover {
    color: #F27405;
}

.products h2 {
    font-size: 3rem;
    background: linear-gradient(#F27405, #F27405)left bottom no-repeat;
    background-size: 100px 3px;
    padding-bottom: 15px;
    margin-bottom: 2rem;
}

.product-list {
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 0.6rem;
}

.product-list-item a {
    text-decoration: none;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.product-list-item a:hover {
    color: #F27405;
}