@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Montserrat:wght@100;400;700;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    outline: 0ch;
    box-sizing: border-box;
}

/* -----------------------NAVBAR--------------- */